<div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-9">
                <h3>{{this.summary}}</h3>
                <p><a href="{{this.link}}" target="_blank">{{this.link}}</a></p>
              </div>
              <div class="col-lg-3">
                <form action="/save" method="POST">
                  <input id="article-title" type="hidden" name="title" value="{{this.title}}">
                  <input id="article-summary" type="hidden" name="summary" value="{{this.summary}}">
                  <input id="article-link" type="hidden" name="link" value={{this.link}}>
                  <button type="submit" class="btn btn-default pull-right" id="saveBtn">SAVE ARTICLE</button>
                </form>
              </div>
            </div>
          </div>
        </div>